[submodule "Fractatrix.ATDebug"]
	path = Fractatrix.ATDebug
	url = https://github.com/Largosaki/Fractatrix.ATDebug.git
[submodule "FractatrixGodot"]
	path = FractatrixGodot
	url = https://github.com/Largosaki/FractatrixGodot.git
